<table class="model-frame" style="width:36em; margin-left:auto; margin-right:auto">
    <!-- write back -->
    <tr>
        <td>
            <div class="model-parts-title">Write Back</div>
            <div class="model-parts" style="display:grid">
                <div style="grid-row:1; grid-column:1">
                    <div style="display:grid">
                        <div style="grid-row:1; grid-column:1">destE: <span id="write-back-destE">F (%null)</span></div>
                        <div style="grid-row:1; grid-column:2">destM: <span id="write-back-destM">F (%null)</span></div>
                        <div style="grid-row:2; grid-column:1">valE: <span id="write-back-valE">0000000000000000</span></div>
                        <div style="grid-row:2; grid-column:2">valM: <span id="write-back-valM">0000000000000000</span></div>
                        <div style="grid-row:3; grid-column:1">destE update: <span id="write-back-update">Y</span></div>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td class="direction">&uarr;</td>
    </tr>
    
    <!-- memory IO -->
    <tr>
        <td>
            <div class="model-parts-title">Memory</div>
            <div class="model-parts" style="display:grid">
                <div style="grid-row:1; grid-column:1">
                    <div>mode: <span id="memory-mode">pass</span></div>
                </div>
                <div style="grid-row:2; grid-column:1">
                    <div style="display:grid">
                        <div style="grid-row:1; grid-column:1">valE: <span id="memory-valE">0000000000000000</span></div>
                        <div style="grid-row:1; grid-column:2">valD: <span id="memory-valD">0000000000000000</span></div>
                    </div>
                </div>
                <div class="bar" style="grid-row:3; grid-column:1"></div>

                <div style="grid-row:4; grid-column:1">
                    <div style="display:grid">
                        <div style="grid-row:1; grid-column:1">valM: <span id="memory-valM">0000000000000000</span></div>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td class="direction">&uarr;</td>
    </tr>

    <!-- ALU -->
    <tr>
        <td>
            <div class="model-parts-title">ALU</div>
            <div class="model-parts" style="display:grid">
                <div style="grid-row:1; grid-column:1">
                    <div>mode: <span id="alu-mode">add</span></div>
                </div>
                <div style="grid-row:2; grid-column:1">
                    <div style="display:grid">
                        <div style="grid-row:1; grid-column:1">valA: <span id="alu-valA">0000000000000000</span></div>
                        <div style="grid-row:1; grid-column:2">valB: <span id="alu-valB">0000000000000000</span></div>
                    </div>
                </div>
                <div class="bar" style="grid-row:3; grid-column:1"></div>
                <div style="grid-row:4; grid-column:1">
                    <div style="display:grid; grid-template-columns: 1fr 1fr">
                        <div style="grid-row:1; grid-column:1">valE: <span id="alu-valE">0000000000000000</span></div>
                        <div style="grid-row:1; grid-column:2">CC update: <span id="alu-ccupdate">N</span></div>
                        <div style="grid-row:2; grid-column:1 / 2 span;">ALU CC: <span id="alu-ALUCC">07 (ZF: 0, SF: 0, OF: 0, eql: 1, grt: 1, les: 1)</span></div>
                    </div>
                </div>
                <div class="bar" style="grid-row:5; grid-column:1"></div>
                <div>
                	<div style="display:grid; grid-template-columns: 4fr 3fr">
                		<div style="grid-row:1; grid-column:1">opcode CC: <span id="alu-DECC">7 (eql: 1, grt: 1, les: 1)</span></div>
                		<div style="grid-row:1; grid-column:2">destE update: <span id="alu-destE-update">Y</span></div>
                	</div>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td class="direction">&uarr;</td>
    </tr>

    <!-- decode -->
    <tr>
        <td>
            <div class="model-parts-title"> Decode </div>
            <div class="model-parts" style="display:grid">
                <div style="grid-row:1; grid-column:1">
                    <div style="display:grid">
                        <div style="grid-row:1; grid-column:1">srcA: <span id="decode-srcA">F (%null)</span></div>
                        <div style="grid-row:1; grid-column:2">srcB: <span id="decode-srcB">F (%null)</span></div>
                        <div style="grid-row:1; grid-column:3">srcD: <span id="decode-srcD">F (%null)</span></div>

                        <div style="grid-row:2; grid-column:1">valA: <span id="decode-valA">0000000000000000</span></div>
                        <div style="grid-row:2; grid-column:2">valB: <span id="decode-valB">0000000000000000</span></div>
                        <div style="grid-row:2; grid-column:3">valD: <span id="decode-valD">0000000000000000</span></div>
                    </div>
                </div>

                <div class="bar" style="grid-row:2; grid-column:1"></div>
                <div style="grid-row:3; grid-column:1">
                    <div style="display:grid; grid-template-columns: 1fr 1fr 1fr;">
                        <div style="grid-row:1; grid-column:1">destE: <span id="decode-destE">F (%null)</span></div>
                        <div style="grid-row:1; grid-column:2">destM: <span id="decode-destM">F (%null)</span></div>
                        
                        <div style="grid-row:2; grid-column:1">CC update: <span id="decode-alu-ccupdate">N</span></div>
                        <div style="grid-row:2; grid-column:2 / span 2">opcode CC: <span id="decode-decode-CC">7 (eql: 1, grt: 1, les: 1)</span></div>

                        <div style="grid-row:3; grid-column:1">ALU mode: <span id="decode-ALU-mode">add</span></div>
                        <div style="grid-row:3; grid-column:2">memory mode: <span id="decode-memory-mode">pass</span></div>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td class="direction">&uarr;</td>
    </tr>

    <!-- fetch -->
    <tr>
        <td>
            <div class="model-parts-title"> Fetch </div>
            <div class="model-parts" style="display:grid">
                <div style="grid-row:1; grid-column:1">
                    <div style="display:grid; grid-template-columns: 1fr 1fr 1fr;">
                        <div style="grid-row:1; grid-column:1">opcode: <span id="fetch-opcode">00</span></div>
                        <div style="grid-row:1; grid-column:2">rA: <span id="fetch-rA">F (%null)</span></div>
                        <div style="grid-row:1; grid-column:3">rB: <span id="fetch-rB">F (%null)</span></div>
                    </div>
                </div>
                <div style="grid-row:2; grid-column:1">
                    <div style="display:grid; grid-template-columns: 5em 1fr;">
                        <div style="grid-row:1; grid-column:1; ">constant: </div>
                        <div style="grid-row:1; grid-column:2"><span id="fetch-constant">0000000000000000</span></div>

                        <div style="grid-row:2; grid-column:1">next PC: </div>
                        <div style="grid-row:2; grid-column:2"><span id="fetch-pc">0</span></div>
                    </div>
                </div>
                <div class="bar" style="grid-row:3; grid-column:1"></div>
                <div style="grid-row:4; grid-column:1">
                    <div style="display:grid">
                        <div style="grid-row:1; grid-column:1">Memory Fetch</div>
                        <div style="grid-row:2; grid-column:1" id="fetch-buffer">00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
